body {
    background-color: #000000;
    color: white;
}

header {
    background-color: rgb(243, 156, 220);
    text-align: center;
}

img {
    max-width: 80px;
    height: auto;
}

.favorable {
    color: green;
}

.moderate {
    color: yellow;
}

.severe {
    color: red;
}